<%- include('./partials/admin-header.ejs')  %> 
        <div class="vh-100 d-flex justify-content-center align-items-center ">
            <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
                <h2 class="text-center mb-4 text-primary">Login Here</h2>
                <form method="post" action="/signin">
                    <% if(message.length >0){ %>
                        <span class="text-danger"><%= message %> </span>
                    <% } %> 
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email"  name="email" class="form-control border border-primary" id="email" aria-describedby="emailHelp" onkeyup="validEmail()">
                        <span id="emails" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control border border-primary" id="password" onkeyup="validPassowrd()">
                        <span id="passwords" class="text-danger"></span>
                    </div>
                    <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit" onclick="return validation()">Login</button>
                    </div>
                </form>
                <p style="text-align:center; margin-top:10px;">OR</p>
                <div class="d-grid">
                    <a class="btn btn-secondary" href="/otp">Request OTP</a>
                </div>

                <div class="mt-3">
                    <p class="mb-0  text-center">Don't have an account? <a href="/signup"
                            class="text-primary fw-bold" style="text-decoration: none;">Sign
                            Up</a></p>
                </div>
            </div>
        </div>

        <script>
        

            // validation
            var Email = document.getElementById('emails')
            var Password = document.getElementById('passwords')

            function validEmail() {
                const email = document.getElementById('email').value
                if (email == "") {
                    Email.innerHTML = "enter your email address"
                    return false
                }
                if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
                    Email.innerHTML = 'enter a proper email adress'
                    return false
                }
                Email.innerHTML = null
                return true
            }       
            
            function validPassowrd() {
                const password = document.getElementById('password').value
                if (password == "") {
                    Password.innerHTML = "enter password"
                    return false
                }
                if (password.length < 6) {
                    Password.innerHTML = "password should be more than six characters"
                    return false
                }
                Password.innerHTML = null
                return true
            }
            function validation() {
                if (!validEmail() && !validPassowrd()) {
                    return false
                } else if (!validEmail() || !validPassowrd()) {
                    return false
                }else { return true }
            }
            
    
        </script>
    <%- include('./partials/footer.ejs') %> 